{% extends "./base1.html" %}

{% block main %}
<main class="col-md-9 bgmain ms-sm-auto col-lg-10 px-md-4">     
                                        
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <h1 class="h4">Add Product
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item">Add Product</li>
        </ol>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        
        <div class="btn-group me-2">
        <a href="{% url 'product-list' %}"><button type="button" class="btn btn-sm">Product List</button></a>
        </div>
    
    </div>
    </div>
    <div class="card p-4 rounded-1 border-0 shadow">
    <h5 class="text-uppercase fw-bold mb-4 col-8">&nbsp;</h5>
    <div class="" >
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row mb-3 border-bottom pb-3">
               
                <div class="col-md-6">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name">
                </div>
                
                <div class="col-md-6">
                    <label for="price" class="form-label">Description</label>
                    <input type="text" min="1" name="description" class="form-control" id="description">
                </div>
                <div class="col-md-6">
                    <label for="price" class="form-label">Price</label>
                    <input type="text"name="price" class="form-control" id="price">
                </div>
                <div class="col-md-6">
                <label for="images">Choose Images</label><br>
                    <input type="file" class="form-control"  placeholder="" name="pic" id="image" multiple >
                </div> 
                
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>

</div>
</div>
</main>
{% endblock %}  