@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
::-webkit-scrollbar {width: .25em;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);}
::-webkit-scrollbar-thumb {background-color:#eee;outline: 1px solid #ddd;}
body {font-size: .875rem; font-family: 'Montserrat', sans-serif; font-size:500; color:#444; background:#f4f6fa;}
.feather {width: 16px;height: 16px;vertical-align: text-bottom;}
.breadcrumb{ font-size:11px; margin-top:10px; color:#999;} .breadcrumb a{ color:#444; text-decoration:none;}
/*
 * Sidebar
 */
.nav-top{ z-index:9; padding-left:275px;}
.sidebar {position: fixed; z-index:99; overflow: auto; top: 0;/* rtl:raw:right: 0;*/bottom: 0;/* rtl:remove */left: 0;z-index: 100; /* Behind the navbar */padding:100px 15px 0; /* Height of navbar */}
.bgmain{ background:#f4f6fa;}
header{ height:80px;}
.top-serch{ width:250px; background:url(../img/search.svg) no-repeat; background-position:7%; background-size:16px 16px; background-color:transparent; border:2px solid #e0e7f4; height:50px; padding-left:50px;}
.top-serch:focus{ background:url(../img/search.svg) no-repeat; background-position:7%; background-size:16px; }
.form-control:focus{ border-color:#e0e7f4;}
.alert-dot{ padding:2px; top:12px; right:12px; z-index:99; border-color:#f4f6fa !important;}
main.col-md-9{}
.color-ocean{ color:#24ccb8}
.color-red{ color:#ff5967}
.color-yellow{ color:#ffd322}
.img-xs{ max-width:35px; max-height:35px;}
thead, tbody, tfoot, tr, td, th{ border: none; padding-left:30px; padding-right:30px;}
td, th{padding-left:30px !important; padding-right:30px !important; max-width:300px;}
th{ font-size:11px; text-transform:uppercase;}
.table-sm > :not(caption) > * > *{ padding:15px;}
.btn-outline-primary{padding: 0.355rem 2.5rem;}
.dataTables_filter{ position:absolute; top:20px; right:20px; font-size:11px; color:#999;} .dataTables_filter input{ font-size:11px; margin-left:10px; border-radius:0.25rem; border:1px solid #ced4da;}
.dataTables_filter input:focus{ outline:0;}
.dataTables_length{position:relative; margin-left:25px; font-size:11px;color:#999;} .dataTables_length select{border:1px solid #ced4da;} .dataTables_length select:focus{outline:0;}
.dataTables_info{ font-size:11px;color:#999; margin-left:25px; width:50%; float:left;}
.dataTables_paginate{font-size:11px; margin-right:25px; width:50%; float:right; text-align:right; position:relative; top:-20px;}
.dataTables_paginate a{ color:#333; padding-left:5px; padding-right:5px; text-decoration:none; cursor:pointer;}
.nav-sublink{ text-decoration:none; color:#999; font-size:13px; padding-left:15px;} .nav-sublink:hover{ color:#666;}
.multi-collapse .list-group-item{ background:none;}
.sidebar-sticky {position: relative;top: 0; height: calc(100vh - 48px);padding-top: .5rem;overflow-x: hidden;overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */}
.sidebar .nav-link {font-weight:500;color: #444; padding: 0.8rem 1rem;}
.sidebar .nav-link .feather {margin-right: 4px;color: #727272;}
.sidebar .nav-link.active {color: #2470dc;}
.sidebar .nav-link:hover .feather,.sidebar .nav-link.active .feather {color: inherit;}
.sidebar-heading {font-size: .75rem;text-transform: uppercase;}
.modal-header .btn-close{ position:relative; top:-50px; right:-40px; opacity:1;}
.modal-footer{justify-content: flex-start;}

/* Buttons and custom colors */
.btn-primary{ background:#0099ff; border-color:#0099ff;}
.btn-primary:focus, .btn-primary:hover{ background:#0099ff; border-color:#0099ff;}
.btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary:hover{color:#0099ff; border-color: #0099ff;}
.form-check-input:checked{background:#0099ff; border-color:#0099ff;}
.list-group-item-check:checked + .list-group-item{ background-color:#0099ff !important;}
.btn-sm{color:#fff; border-color:#231f20; background:#231f20; padding:2px 20px 3px; border-radius:3px !important; font-size:11px;}
.btn-sm:hover,.btn-sm:focus{ color:#fff;}
.btn-group, .btn-group-vertical{ display: inline !important;}
/*
 * Navbar
 */
.navbar-brand{ top:0px; left:0px; z-index:999; width:240px; padding-bottom:0; padding-left:30px; padding-top:30px; background:#fff;}
.navbar-brand img{ margin-bottom:20px; max-width:180px;}
.navbar .navbar-toggler {top: .25rem;right: 1rem;}
header .dropdown-menu[data-bs-popper]{ left:-45px;}
.dropdown-menu{font-size: .875rem;}
.dropdown-menu a:focus, .dropdown-menu a:hover{ background:none; color:#444;}
.dropdown-menu .bi-caret-up-fill{ top:-18px; right:20px;}
.notification-top{ min-width:300px;}
header .notificationdropdown{ left:-245px !important;}
.notificationdropdown .bi-caret-up-fill{ top:-18px; right:70px;}

/* List Group */
.b-example-divider {height: 3rem; background-color: rgba(0, 0, 0, .1);border: solid rgba(0, 0, 0, .15);border-width: 1px 0;box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);}
.bi {vertical-align: -.125em;fill: currentColor;}
.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }
.list-group {width: auto; max-width: 460px;}
.form-check-input:checked + .form-checked-content {opacity: .5;}
.form-check-input-placeholder {pointer-events: none;border-style: dashed;}
[contenteditable]:focus {outline: 0;}
.list-group-checkable {display: grid;gap: .5rem;border: 0;}
.list-group-checkable .list-group-item {cursor: pointer;border-radius: .5rem;}
.list-group-item-check {position: absolute;clip: rect(0, 0, 0, 0);pointer-events: none;}
.list-group-item-check:hover + .list-group-item {background-color: var(--bs-light);}
.list-group-item-check:checked + .list-group-item {color: #fff;background-color: var(--bs-blue);}
.list-group-item-check[disabled] + .list-group-item, .list-group-item-check:disabled + .list-group-item {pointer-events: none;filter: none;opacity: .5;}

@media (max-width: 767.98px) {
.sidebar {top: 5rem;}
.nav-top{ z-index:9; padding-left:30px; padding-top:80px; padding-bottom:60px;}
main.col-md-9{ margin-top:0px; padding:30px; padding-top:15px;}
.menu-btn{ right:30px; top:20px; z-index:999; position:fixed !important;}
.navbar-toggler{ border:none; transition:none; box-shadow:none;}
.top-serch{ height:35px;}
.navbar-brand{ background:none !important; padding-left:15px; padding-top:15px;}
.sidebar{ z-index:8; background:#f4f6fa !important; padding-top:80px;}
}
